<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>仓库</title>
</head>
<body>
<h2>仓库列表</h2>
<table style="padding: 20px;width: 80%">
    <thead>
    <tr>
        <th>名称</th>
        <th>编号</th>
        <th>地区</th>
        <th>详情</th>
    </tr>
    </thead>

    <tbody style="text-align: center">
    <tr th:each="repo : ${repos}">
        <td th:text="${repo.name}">
            Name
        </td>
        <td th:text="${repo.id}">
            ID
        </td>
        <td th:text="${repo.location.detailedDistrict}">
            address
        </td>
        <td>
            <a th:href="${'/manager/repo/' + repo.id}">详情</a>
        </td>
    </tr>

    </tbody>
</table>
<hr>
<div>
    <form style="margin-left: 20%;width: 20%" th:action="@{/manager}" method="get">
        <input style="width: 100%;height: 30px" type="submit" value="返回"/>
    </form>
</div>
</body>
</html>