<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物流</title>
</head>
<body>
<h2>最近的物流列表</h2>
<table style="padding: 20px;width: 100%">
    <thead>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>状态</th>
        <th>途径</th>
        <th>出发</th>
        <th>出发时间</th>
        <th>到达</th>
        <th>到达时间</th>
    </tr>
    </thead>

    <tbody style="text-align: center">
    <tr th:each="s : ${shipments}">
        <td th:text="${s.id}">
            ID
        </td>
        <td th:text="${s.description}">
            Name
        </td>
        <td th:text="${s.state.display}">
            display
        </td>
        <td th:text="${s.transportation}">
            trans
        </td>
        <td th:text="${s.source.name}">
            source
        </td>
        <td th:text="${#dates.format(s.departureTime, 'yyyy-MM-dd HH:mm')}">
            departureTime
        </td>
        <td th:text="${s.destination.name}">
            destination
        </td>
        <td th:text="${#dates.format(s.arrivalTime, 'yyyy-MM-dd HH:mm')}">
            arrivalTime
        </td>
    </tr>

    </tbody>
</table>
<hr>
<div>
    <form style="margin-left: 20%;width: 20%" th:action="@{/manager}" method="get">
        <input style="width: 100%;height: 30px" type="submit" value="返回"/>
    </form>
</div>
</body>
</html>